<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Box</string>
		<string>Cart</string>
		<string>Controls</string>
		<string>Main</string>
		<string>Map</string>
		<string>Stage</string>
	</array>
	<key>Created</key>
	<string>2012-11-21 06:59:38 +0000</string>
	<key>Dependencies</key>
	<array>
		<string>PettyFunLibs</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
